
PORT=5000
DATABASE_URL="postgresql://neondb_owner:npg_xxxxxxxxxxxx@xx-xxxx-xxxxx-xxxxxxxx-xxxxxx.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# auth
JWT_EXPIRES_IN="1h"
JWT_REFRESH_EXPIRES_IN="7d"
JWT_SECRET=ea96fe8xxxxxxxxxxxxxxxxxxxxxx5f270db4b22091218e3686db9bce38f64a74c9929102f2e1xxxxxxxxxxxxxxxx
3b9cd320e5a6f934fc2f54717e4f983ceaf
JWT_REFRESH_SECRET=xxxxxxxxxxxxxxxxxxxxxx09b0f5794a84898eb99d27e995700af65635fb74c9262a33ace30exxxxxxxxxxxxxxxxx
edc074a1ed9fac876abef595fab6eca3edaxxxxxxxx

# redis
REDIS_URL=redis://default:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx@steel-carriage-sofa-29186.db.redis.io:18682

# mail service
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="example@gmail.com"
SMTP_PASS="xxxxxxxxxxxxxxxxx"
EMAIL_FROM="example@gmail.com"

# cloudinary
CLOUDINARY_CLOUD_NAME=rmxxxxxx
CLOUDINARY_API_KEY=xxxxxxxxxxxxxxx
CLOUDINARY_API_SECRET=f5hbjxxxx-xx-hMMDRMFxxxxxxx
